.employee-container {
  margin: 32px;
}

.addemp {
  background: linear-gradient(to right, #1b84da, #00a0f3);
  padding: 8px 12px;
  border-radius: 8px;
  align-items: center;
  color: white;
  display: flex;
  column-gap: 16px;
  border: none;
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.emp-title {
  font-size: 24px;
  color:#374955;
  font-weight: 600;
}

table {
  width: 100%;
}

.mdc-data-table__cell,
.mdc-data-table__header-cell {
  padding: 12px !important;
}

.employee-mobile {
  display: none;
}

.employee-desktop {
  display: block;
}

.marg {
  margin: 8px;
}

.mat-mdc-header-row,
 .mat-mdc-header-cell {
  background: #eef0f4 !important;
  color:#374955 !important;
  font-weight: 600;
  font-size: 16px;
}

@media (max-width: 1020px) {
  .employee-desktop {
    display: none;
  }

  .employee-mobile {
    display: block;
  }
}
