<div class="date-buttons">
  <!-- Year Button -->
  <input type="number" [(ngModel)]="year" class="btn" />
</div>
<div>
  <button class="addemp" (click)="triggerFileUpload()">
    <mat-icon
      aria-hidden="false"
      aria-label="Add Person"
      fontIcon="add_notes"
    ></mat-icon>
    Add Document
  </button>
  <input
    type="file"
    #fileInput
    style="display: none"
    (change)="addDocument($event)"
    accept="application/pdf"
    multiple
    hidden
  />
</div>
<!-- filter div -->
<div>
  <input type="number" [(ngModel)]="filterYear" class="btn" />
  <input type="text" [(ngModel)]="filterMonth" class="btn" />
</div>
