<div class="login-container">
  <div class="login-card mat-elevation-z4">
    <h2 class="title">LOGIN</h2>

    <mat-tab-group [(selectedIndex)]="selectedTabIndex">
      <mat-tab label="HR"></mat-tab>
      <mat-tab label="Employee"></mat-tab>
    </mat-tab-group>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required />
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        class="full-width"
        type="submit"
      >
        Login
      </button>
    </form>
  </div>
</div>
