.logo {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 1.5rem;
  color: #005b8b;
}

.logo_img {
  width: 324px;
  margin-bottom: 25px;
}

.login-container {
  height: 100vh;
  background: #f1fbff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.login-card {
  background: white;
  border-radius: 16px;
  padding: 2rem 2.5rem;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 1.5rem;
  color: #0795c9;
}

.custom-tabs {
  margin-bottom: 1.5rem;


  ::ng-deep .mat-mdc-tab {
    font-weight: 500;
    font-size: 14px;
  }

  ::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: black !important;
    font-weight: bold;
  }

  ::ng-deep .mat-mdc-tab-indicator {
    background: black !important;
  }
}

.custom-field {
  width: 100%;
  margin-bottom: 12px;

  ::ng-deep .mat-mdc-text-field-wrapper {
    border-bottom: 1px solid black;
  }

  ::ng-deep .mat-mdc-floating-label {
    color: black !important;
  }

  ::ng-deep .mdc-text-field--outlined {
    color: black !important;
  }

  ::ng-deep input.mat-input-element {
    padding: 10px;
  }

  ::ng-deep .mat-mdc-input-element {
    color: black !important;
  }

  ::ng-deep .mdc-floating-label {
    color: black !important;
  }

  ::ng-deep input::placeholder {
    color: black !important;
  }
}

.login-btn {
  width: 100%;
  padding: 12px;
  font-weight: 600;
  border-radius: 8px;
  background: linear-gradient( #00a0f3, #374955);
  color: white;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;

  &:hover {
    background: linear-gradient( #00a0f3, #0795c9);
  }
}

/* Responsive for mobile */
@media (max-width: 480px) {
  .login-card {
    padding: 1.5rem;
  }

  .title {
    font-size: 20px;
  }
}

::ng-deep .mat-mdc-tab .mdc-tab__text-label {
  color: black !important;
}