<div class="dashboard-container">
  <div class="header-title">
    <div class="title">Company Holidays</div>
    <div>
      <button class="addemp" (click)="openDialog()">
        <mat-icon
          aria-hidden="false"
          aria-label="Add Person"
          fontIcon="add_card"
        ></mat-icon>
        Add Event
      </button>
    </div>
  </div>

  <div class="holiday-panel">
    <div class="panel-header">
      <mat-icon>calendar_month</mat-icon>
      <span>{{ currentYear }} Holiday Calendar</span>
    </div>

    <p class="panel-subtitle">
      Total of {{ holidaysCount }} holidays this year
    </p>

    <div class="holiday-card" *ngFor="let holiday of holidays">
      <div class="delete-icon" (click)="deleteHoliday(holiday.id)">
        <mat-icon>delete</mat-icon>
      </div>

      <div class="holiday-date">
        <div class="month">{{ formatMonth(holiday.date) }}</div>
        <div class="day">{{ formatDay(holiday.date) }}</div>
        <div class="year">{{ formatYear(holiday.date) }}</div>
      </div>

      <div class="holiday-details">
        <div class="name">{{ holiday.eventName }}</div>
        <div class="date">{{ formatFullDate(holiday.date) }}</div>
      </div>

      <div class="tag" [ngClass]="holiday.eventType.toLowerCase()">
        {{ holiday.eventType }}
      </div>
    </div>
  </div>
</div>
