.panel-header {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: Bold;
  color: #374955;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.panel-subtitle {
  font-size: 16px;
  color: #6b7280;
  margin-bottom: 1.5rem;
}

.dashboard-container {
  padding: 32px;
  background: #f9fafb;
}

.holiday-panel {
  background: #ffffff;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.holiday-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  color: #374955;
}

.month {
  font-size: 13px;
  color: #6b7280;
}

.day {
  font-size: 22px;
  font-weight: 700;
  color: #374955;
}

.year {
  font-size: 12px;
  color: #6b7280;
}

.holiday-details {
  flex: 1;
  padding-left: 1rem;
}

.name {
  font-size: 18px;
  font-weight: 600;
  color: #374955;
}

.date {
  font-size: 14px;
  color: #6b7280;
}

.tag {
  font-size: 16px;
  font-weight: 500;
  padding: 4px 12px;
  //border-radius: 999px 150px 999px 150px;
  border-radius: 250px;
  text-transform: capitalize;

  &.national {
    background: #4a90e2;
    color: white;
  }

  &.festival {
    background: #ffd93d;
    color: white;
  }

  &.birthday {
    background: #50c878;
    color: white;
  }

  &.other {
    background: #ff6b6b;
    color: White;
  }
}

.title {
  font-size: 24px;
  color: #374955;
  font-weight: 600;
  //margin-bottom: 10px;
}

.holiday-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f9fafb;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  position: relative;
  background: #fff;
  margin-bottom: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;
}

.header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.addemp {
  background: linear-gradient(to right, #1b84da, #00a0f3);
  padding: 8px 12px;
  border-radius: 8px;
  align-items: center;
  color: white;
  display: flex;
  column-gap: 16px;
  border: none;
  font-size: 16px;
}

.delete-icon {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 24px;
  height: 24px;
  padding: 2px;
  color: gray;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 1;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.holiday-card {
  position: relative;
  /* make sure it's relatively positioned */
}

.holiday-card:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.holiday-card:hover .delete-icon {
  display: flex;
}