.dashboard-container {
  padding: 32px;
  background: #f9fafb;

  .holiday-panel {
    background: #ffffff;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);

    .panel-header {
      display: flex;
      align-items: center;
      font-size: 20px;
      font-weight: Bold;
      color: #374955;
      gap: 0.5rem;
      margin-bottom: 0.5rem;
    }

    .panel-subtitle {
      font-size: 16px;
      color: #6b7280;
      margin-bottom: 1.5rem;
    }

    .holiday-card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #f9fafb;
      border: 1px solid #e5e7eb;
      border-radius: 10px;
      padding: 1rem;
      margin-bottom: 1rem;
      flex-wrap: wrap;

      .holiday-date {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60px;
        color: #374955;

        .month {
          font-size: 13px;
          color: #6b7280;
        }

        .day {
          font-size: 22px;
          font-weight: 700;
          color: #374955;
        }

        .year {
          font-size: 12px;
          color: #6b7280;
        }
      }

      .holiday-details {
        flex: 1;
        padding-left: 1rem;

        .name {
          font-size: 18px;
          font-weight: 600;
          color: #374955;
        }

        .date {
          font-size: 14px;
          color: #6b7280;
        }
      }

      .tag {
        font-size: 16px;
        font-weight: 500;
        padding: 4px 12px;
        //border-radius: 999px 150px 999px 150px;
        border-radius: 250px;
        text-transform: capitalize;

        &.national {
          background: #4A90E2;
          color: white;
        }

        &.festival {
          background: #FFD93D;
          color: white;
        }

        &.birthday {
          background: #50C878;
          color: white;
        }

        &.other {
          background: #FF6B6B;
          color: White;
        } 
      }
    }
  }
}

.title {
  font-size: 24px;
  color: #374955;
  font-weight: 600;
  //margin-bottom: 10px;
}

// .subtitle {
//   font-size: 16px;
//   color: #6b7280;
//   margin-bottom: 1.5rem;
//   margin-top: 10px;
// }

.header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.addemp {
  background: linear-gradient(to right, #1b84da, #00a0f3);
  padding: 8px 12px;
  border-radius: 8px;
  align-items: center;
  color: white;
  display: flex;
  column-gap: 16px;
  border: none;
  font-size: 16px;
}
