<div class="profile-wrapper">
  <div class="profile-header">
    <div class="title">
      My Profile
      <div class="subtitle">
        Manage your personal and professional information
      </div>
    </div>
    <!-- <div class="subtitle">Manage your personal and professional information</div> -->
  </div>

  <div class="profile-card">
    <div class="avatar-section">
      <div class="avatar">{{ user?.name?.charAt(0) }}</div>
      <div class="user-details">
        <div class="name">{{ user?.name }}</div>
        <p class="position">{{ user?.designation }}</p>
      </div>
    </div>

    <div class="info-grid">
      <div class="info-box">
        <i class="material-icons">group</i>
        <!-- <mat-icon aria-hidden="false" aria-label="Add Person" fontIcon="group"></mat-icon> -->
        <span class="label">Team</span>
        <div class="designation">{{ user?.team }}</div>
      </div>
      <div class="info-box">
        <i class="material-icons">event</i>
        <!-- <mat-icon aria-hidden="false" aria-label="Add Person" fontIcon="calendar_month"></mat-icon> -->
        <span class="label">DOJ</span>
        <div class="designation">
          {{ user?.dateOfJoining?.seconds * 1000 | date:'MMMM d, y' }}
        </div>
      </div>
      <div class="info-box">
        <i class="material-icons">email</i>
        <!-- <mat-icon aria-hidden="false" aria-label="Add Person" fontIcon="mail"></mat-icon> -->
        <span class="label">Email</span>
        <div class="designation">{{ user?.email }}</div>
      </div>
      <div class="info-box">
        <i class="material-icons">badge</i>
        <!-- <mat-icon aria-hidden="false" aria-label="Add Person" fontIcon="badge"></mat-icon> -->
        <span class="label">Employee ID</span>
        <div class="designation">{{ user?.employeeId }}</div>
      </div>
      <div class="info-box">
        <i class="material-icons">badge</i>
        <!-- <mat-icon aria-hidden="false" aria-label="Add Person" fontIcon="badge"></mat-icon> -->
        <span class="label">Reporting Manager</span>
        <div class="designation">Gireesh Sabbu</div>
      </div>
      <div class="info-box">
        <i class="material-icons">badge</i>
        <!-- <mat-icon aria-hidden="false" aria-label="Add Person" fontIcon="badge"></mat-icon> -->
        <span class="label">Reporting Manager email</span>
        <div class="designation">saigireeshsabbuaoaks.guru</div>
      </div>
    </div>
  </div>

  <!-- <div class="tabs">
    <button class="tab active"><i class="material-icons">work</i> Personal Information</button>
  </div> -->

  <div class="work-info-card">
    <div class="work">Personal Information<div>
        <button class="edit-btn">
          <mat-icon aria-hidden="false" aria-label="Add Person" fontIcon="edit"></mat-icon>
          Edit
        </button>
      </div>
    </div>

    <div class="form-grid">
      <div class="form-group">
        <label>Address <span class="required">*</span></label>
        <input type="text" value="Vijayawada" readonly />
      </div>
      <div class="form-group">
        <label>Date of Birth <span class="required">*</span></label>
        <input type="text" value="January 15th, 2020" readonly />
      </div>
      <div class="form-group">
        <label><i class="material-icons">supervisor_account</i>Blood Group</label>
        <input type="text" value="AB+" readonly />
      </div>
      <div class="form-group">
        <label><i class="material-icons">groups</i>Hobbies</label>
        <input type="text" value="Playing cricket, Traveling" readonly />
      </div>
    </div>
  </div>

  <div class="logout-section">
    <button class="edit-btn" (click)="logout()">
      <mat-icon aria-hidden="false" aria-label="Add Person" fontIcon="logout"></mat-icon>
      Logout
    </button>
  </div>
</div>