.topbar {
  width: -webkit-fill-available;
  height: 34px;
  background: white;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  box-shadow: 50px 50px lightblue;
}

.topbar-actions {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.menu-toggle {
  font-size: 20px;
  background: none;
  border: none;
  margin-right: 15px;
  cursor: pointer;
  display: none;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 30px;
  margin-right: 10px;
}

.addemp {
  background: linear-gradient(to right, #1b84da, #00a0f3);
  padding: 8px 12px;
  border-radius: 8px;
  align-items: center;
  color: white;
  display: flex;
  column-gap: 16px;
  border: none;
  font-size: 16px;
}

.user-profile {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-role {
  color: #6b7280;
  font-size: 12px;
}

.user-info {
  color: #374955;
  white-space: nowrap;
  width: 20ch;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 600;
}

.user-role {
  color: #6b7280;
  font-size: 12px;
}

.avatar {
  background: #00a0f3;
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.sidebar {
  width: 240px;
  background-color: #eef0f4;
  padding: 1rem 0;
  position: fixed;
  top: 65px;
  transition: transform 0.3s ease;
  height: calc(100% - 65px);
  z-index: 1000;
}

.sidebar.closed {
  transform: translateX(-100%);
}

.nav-menu {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding: 0.9rem 1rem;
  color: #1f2937;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.nav-link:hover,
.nav-link:focus {
  background-color: #e2e8f0;
}

/* Layout */
.main-layout {
  width: calc(100% - 240px);
  min-height: calc(100% - 65px);
  background-color: #f5f7f9;
  flex-direction: column;
  position: relative;
  display: flex;
  left: 240px;
  top: 65px;
}

.header-img-style {
  width: 160px;
}

.menu-dis {
  display: none;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: inline-block;
  }

  .main-layout {
    width: 100%;
    left: 0px;
  }

  .menu-dis {
    display: block;
  }

  .btn-dis {
    display: none;
  }
}
