<!-- Top Bar -->
<header class="topbar">
  <div class="topbar-actions">
    <div>
      <mat-icon
        (click)="toggleSidebar()"
        aria-hidden="false"
        aria-label="company_holidays"
        fontIcon="menu"
      ></mat-icon>
    </div>
    <img
      src="/assets/Images/Common_logo_Dark_Blue.png"
      class="header-img-style"
      alt="OAKS Logo"
    />
  </div>

  <div class="topbar-actions">
    <button class="addemp" (click)="openDialog()">
      <mat-icon
        aria-hidden="false"
        aria-label="Add Person"
        fontIcon="person_add"
      ></mat-icon>
      Add Employee
    </button>
    <div class="user-profile">
      <div class="avatar">S</div>
      <div class="user-container">
        <div class="user-info">{{user?.fullName}}</div>
        <div class="user-role">{{user?.designation}}</div>
      </div>
    </div>
  </div>
</header>

<!-- Sidebar -->
<aside class="sidebar" [class.closed]="isSidebarClosed">
  <nav class="nav-menu">
    <a class="nav-link" routerLink="/hr/profile">
      <mat-icon
        aria-hidden="false"
        aria-label="profile"
        fontIcon="home"
      ></mat-icon>
      Home</a
    >
    <a class="nav-link" routerLink="/hr/profile">
      <mat-icon
        aria-hidden="false"
        aria-label="profile"
        fontIcon="person"
      ></mat-icon>
      My Profile</a
    >
    <a class="nav-link" routerLink="/hr/holidays">
      <mat-icon
        aria-hidden="false"
        aria-label="company holidays"
        fontIcon="calendar_today"
      ></mat-icon>
      Company Holidays</a
    >
    <a class="nav-link" routerLink="/hr/payslips">
      <mat-icon
        aria-hidden="false"
        aria-label="payslips"
        fontIcon="folder_open"
      ></mat-icon
      >Payslips</a
    >
    <a class="nav-link" routerLink="/hr/policy">
      <mat-icon
        aria-hidden="false"
        aria-label="docs"
        fontIcon="description"
      ></mat-icon>
      Company Policy</a
    >
    <a class="nav-link" routerLink="/hr/form16">
      <mat-icon
        aria-hidden="false"
        aria-label="form16"
        fontIcon="article"
      ></mat-icon>
      Form 16</a
    >
    <a class="nav-link" routerLink="/hr/faqs"
      ><mat-icon
        aria-hidden="false"
        aria-label="faqs"
        fontIcon="question_mark"
      ></mat-icon
      >FAQs</a
    >
    <a class="nav-link" routerLink="/hr/employees"
      ><mat-icon
        aria-hidden="false"
        aria-label="faqs"
        fontIcon="group"
      ></mat-icon>
      Employees Details</a
    >
  </nav>
</aside>
<div class="main-layout">
  <!-- Main content -->
  <router-outlet></router-outlet>
</div>
