<!-- Top Bar -->
<header class="topbar">
  <div class="topbar-actions">
    <div class="menu-dis">
      <mat-icon
        (click)="toggleSidebar('menu')"
        aria-hidden="false"
        aria-label="company_holidays"
        fontIcon="menu"
      ></mat-icon>
    </div>
    <img
      src="/assets/Images/Common_logo_Dark_Blue.png"
      class="header-img-style"
      alt="OAKS Logo"
    />
  </div>

  <div class="topbar-actions btn-dis">
    <!-- <button class="addemp" (click)="openDialog()">
      <mat-icon
        aria-hidden="false"
        aria-label="Add Person"
        fontIcon="person_add"
      ></mat-icon>
      Add Employee
    </button> -->
    <div class="user-profile">
      <div class="avatar">{{ user?.fullName?.charAt(0) }}</div>
      <div class="user-container">
        <div class="user-info">{{ user?.fullName }}</div>
        <div class="user-role">{{ user?.team }}</div>
      </div>
    </div>
  </div>
</header>

<!-- Sidebar -->
<div
  class="sidebar"
  [ngStyle]="{ display: isSidebarClosed ? 'block' : 'none' }"
>
  <div class="nav-menu">
    <div
      *ngFor="let menu of sidebarData"
      [ngClass]="{ 'active-link': isActive(menu.link) }"
      class="nav-link"
      routerLink="{{ menu.link }}"
      (click)="toggleSidebar('sidebar')"
    >
      <mat-icon
        aria-hidden="false"
        [attr.aria-label]="menu.name"
        fontIcon="{{ menu.icon }}"
      ></mat-icon>
      {{ menu.name }}
    </div>
  </div>
</div>

<!-- Main content -->
<div class="main-layout">
  <router-outlet></router-outlet>
</div>
